*{
    padding: 8PX;
}

body{
    background-color: aqua;
}

textarea{
    resize:none
}

header{
    background-color: black;
    color: white;
}

header h1{
    display: flex;
    justify-content: center;
}

label{
    display: block;
    font-style: italic;
    font-weight: bold;
}
